.Sidebar {
    height: 100vh;
    background: var(--sidebar-bg-color);
    width: var(--sidebar-width);
    position: relative;
    transition: width 0.3s;
    border-radius: 0 10px 10px 0;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;

    .lang {
        margin-left: 5px;
    }
}
