.Sidebar {
    height: 100vh;
    background: var(--main-color);
    width: var(--sidebar-width);
    transition: width 0.3s;
    border-radius: 0 10px 10px 0;
    padding: 30px;
    position: relative;
}


.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.linkItem {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: 0.3s opacity;
}

.icon {
    fill: var(--link-color)
}

.toggleButton {
    border-radius: 0 12px 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: - 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .linkItem {
        height: 25px;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}



