.app_dark_theme {
    --bg-color: #252525;
    --inverted-bg-color: #FDFDFD;
    --primary-color: #FDFDFD;
    --secondary-color: #929292;
    --main-color: #24484E;
    --inverted-primary-color: #191919;
    --inverted-secondary-color: #0449e8;
    --input-bg-color:#454545;
    --input-bg-focused: #606060;
}
