.app.dark {
    --bg-color: #252525;
    --inverted-bg-color: #FDFDFD;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --main-color: #24484E;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e8;
}
