.app_light_theme {
    --bg-color: #FDFDFD;
    --inverted-bg-color: #252525;
    --primary-color: #191919;
    --secondary-color: #929292;
    --main-color: #365B61;
    --inverted-primary-color: #FDFDFD;
    --inverted-secondary-color: #717171;
}
