.app.light {
    --bg-color: #365B61;
    --inverted-bg-color: #24484E;
    --primary-color: #FDFDFD;
    --secondary-color: #0449e8;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
