.Navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 20px;
}

.switchers {
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 24px;


    .lang {
        margin-left: 5px;
    }
}
